@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-page-black text-ivory font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-medium tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #050504;
}
::-webkit-scrollbar-thumb {
  background: #171717;
  border: 1px solid rgba(211, 175, 101, 0.1);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #211F1C;
}
